<% provide(:title,"Home")%>
<div class="jumbotron center">
  <div class="container">
    <%= link_to new_advertisement_path do %>
      <button class="btn btn-primary">Add new advertisement</button>
    <% end %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Mail</th>
          <th>Thumbnail</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
          <% @adv.each_with_index do |adv,index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= adv.title %></td>
              <td><%= adv.email %></td>
              <td><%= image_tag adv.image, :size => "150x100" %></td>
              <td><%= link_to "Check advertisement",advertisement_path(adv.id)%>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
