<% provide(:title,"Advertisement #{@adv.id}") %>
<div class="container group">
  <%= link_to root_path do %>
    <button class="btn btn-primary">Back to list of advertisement</button>
  <% end %>
  <%= link_to edit_advertisement_path do %>
    <button class="btn btn-info">Edit advertisement</button>
  <% end %>
  <%= link_to advertisement_path(@adv.id), :method => :delete do %>
    <button class="btn btn-danger">Delete advertisement</button>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <section class="user_info">
      <h2>
        <%= @adv.title %>
      </h2>
      <p>
        <%= @adv.content%>
      </p>
      <p><%= mail_to "#{@adv.email}"%></p>
      <%= image_tag @adv.image %>
    </section>
  </div>
</div>
